* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
}

.container h1 {
    text-align: center;
    color: steelblue;
    font-weight: bold;
}