* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --branco: #fff;
    --cinza: #808080;
}

html {
    scroll-behavior: smooth;
}

/* Variáveis root - dark and light mode */
html[data-theme = "light"]{
    --bg: #ffff;
    --color-text: #000;
    --box-shadow: 0 0 0.4rem #000;
    --bg-link: #000;
    --color-link: #ffff;
    /* Botão change theme */
    --bg-bottom: #000;
    --icon: #fff;
    --slider: #fff;
}
html[data-theme = "dark"]{
    --bg: #000;
    --color-text: #ffff;
    --box-shadow: 0 0 0.4rem #ffff;
    --bg-link: #fff;
    --color-link: #000;
    /* Botão change theme */
    --bg-bottom: #fff;
    --icon: #000;
    --slider: #000;
}

body {
    background-color: var(--bg);
}

/* Mudar tema */
.container .container-input-checkbox {
    display: flex;
    position: absolute;
    left: 340px;
    top: 10px;
}
.mudar-tema {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}
.mudar-tema input{
    display: none;
}
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 20px;
    background-color: var(--bg-bottom);
    cursor: pointer;
    transition: 0.4s;
}
.slider:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--slider);
    transition: 0.4s;
}
input:checked + .slider:before{
    transform: translateX(25px);
}
.slider svg{
    position: absolute;
    color: var(--icon);
    transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
    pointer-events: none;
}
.efeito-sol {
    right: 10px;
    bottom: 9px;
    opacity: 1;
    transform: translateX(0px);
}
.efeito-lua {
    left: 9px;
    bottom: 9px;
    opacity: 0;
    transform: translateX(4px);
}
input:checked + .slider .efeito-lua {
    transform: translateX(0);
    opacity: 1;
}
input:checked + .slider .efeito-sol {
    transform: translateX(-4px);
    opacity: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 1rem;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 1rem auto;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__name {
    font-size: 2rem;
    color: var(--color-text);
}

.subtitle {
    font-size: 1rem;
    color: var(--cinza);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

.links .btn {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: var(--branco);
    transition: .2s ease-in-out;
    font-size: 1rem;
}

.links .btn span {
    width: 80px;
    text-align: center;
}

.links .btn img {
    width: 25px;
}

.links .btn.btn__linkedin {
    background: linear-gradient(135deg, #77c6eb 0%, #1066e7 100%);
}
.links .btn.btn__github {
    background: linear-gradient(135deg, #292929 0%, #0c0c0c 100%);
}
.links .btn.btn__instagram {
    background: linear-gradient(135deg, #002296 0%, #ea0c5f 50%, #f6ba00 100%);
}
.links .btn.btn__facebook {
    background: linear-gradient(135deg, #1f4cc7 0%, #002cbd 100%);
}
.links .btn.btn__twitter {
    background: linear-gradient(135deg, #1066e7 0%, #77c6eb 100%);
}
.links .btn:hover {
    opacity: 0.9;
    transition: .2s ease-in-out;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--color-text);
    height: 30px;
}

/* Media queries */

@media screen and (min-width: 1440px){
    .container .container-input-checkbox{
        left: 380px;
    }
}

@media screen and (max-width: 1024px){
    .container .container-input-checkbox{
        left: 170px;
    }
}

@media (max-width: 768px) {
    /*Dark mode*/
    .container .container-input-checkbox {
        left: 110px;
    }
    .links .btn {
        max-width: 300px;
    }
}

@media screen and (max-width: 540px) {
    .container .container-input-checkbox {
        left: 70px;
    }
}

@media screen and (max-width: 425px) {
    /*Dark mode*/
    .container .container-input-checkbox {
        left: 40px;
    }
}

@media (max-width: 375px) {
    /*Dark mode*/
    .container .container-input-checkbox {
        left: 20px;
    }
    .mudar-tema {
        height: 32px;
    }
    .slider {
        border-radius: 32px;
    }
    .slider:before {
        height: 24px;
        width: 24px;
    }
    .efeito-lua {
        bottom: 8px;
    }
    .efeito-sol {
        bottom: 8px;
    }
    .links .btn {
        max-width: 250px;
    }
}