* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --branco: #fff;
    --cinza: #808080;
}

html {
    scroll-behavior: smooth;
}

/* body {
    background-color: #0c0c0c;
} */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 2rem;
}

.container {
    height: 100%;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 2rem auto;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__name {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
    color: var(--cinza);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

.links .btn {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    transition: .2s ease-in-out;
    font-size: 1rem;
}

.links .btn img {
    width: 25px;
    margin-left: 10px;
}

.links .btn.btn__linkedin {
    background: linear-gradient(135deg, #77c6eb 0%, #1066e7 100%);
}
.links .btn.btn__github {
    background: linear-gradient(135deg, #292929 0%, #0c0c0c 100%);
}
.links .btn.btn__instagram {
    background: linear-gradient(135deg, #002296 0%, #ea0c5f 50%, #f6ba00 100%);
}
.links .btn.btn__facebook {
    background: linear-gradient(135deg, #1f4cc7 0%, #002cbd 100%);
}
.links .btn:hover {
    opacity: 0.9;
    transition: .2s ease-in-out;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .links .btn {
        max-width: 300px;
    }
}

@media (max-width: 375px) {
    .links .btn {
        max-width: 250px;
    }
}